{% extends "./includes/base.html" %}

<!-- Page title -->
{% block title %}
Projects || My App
{% endblock %}

<!-- Page Greeting -->
{% block page_greeting %}
Welcome to my Happy Happy Happyyyyy---
{% endblock %}

<!-- Page Message -->
{% block page_message%}
This is where you can find all the information about me working on this projectyy.
{%endblock%}


<!-- Page Content -->
{% block content %}
<h2>Projects</h2>
<div class="container" >
  <div class="row" >
      {% for project in my_projects %}
        <div class="card m-2" style="width: 18rem;">
          <img src="{{url_for('static', filename=project['demo'])}}" class="card-img-top" alt="...">
          
          <div class="card-body">
            <h5 class="card-title">{{project['name']}}</h5>
            <p class="card-text">{{project['description']}}</p>
            <a href="{{project['github']}}" class="btn btn-primary">Play it</a>
          </div>
        </div>
      {%endfor%}
  </div>
</div>
{% endblock %}
