{% extends "./includes/base.html" %}

<!-- Page title -->
{% block title %}
Projects || My App
{% endblock %}

<!-- Page Greeting -->
{% block page_greeting %}
Welcome to my Happy Happy Happyyyyy---
{% endblock %}

<!-- Page Message -->
{% block page_message%}
This is where you can find all the information about me working on this projectyy.
{%endblock%}


<!-- Page Content -->
{% block content %}
<h2>Projects</h2>
<div class="card" style="width: 18rem;">
    <img src="{{url_for('static', filename='tic_tac.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tic Tac Toes</h5>
      <p class="card-text">TKinter-based tic tac toe game!!:|</p>
      <a href="https://github.com/MayuCoding/TicTacToe" class="btn btn-primary">Play it</a>
    </div>
  </div>
{% endblock %}
