{% extends "./includes/base.html" %}

<!-- Page title -->
{% block title %}
Users || My App
{% endblock %}

<!-- Page Greeting -->
{% block page_greeting %}
Hello little Users
{% endblock %}

<!-- Page Message -->
{% block page_message%}
Welcome to my little world mini Users
{%endblock%}


<!-- Page Content -->
{% block content %}
<div class="container">
    <h1>Users</h1>
    <div class="d-flex justify-content-center flex-wrap">
        <!-- Display users here -->
        {% for user in users %}
            <h3 class = "card-title">{{user.username }}</h3>
            <h5 class = "card-title"> {{ user.email }}</h5>
        {%endfor%}

    </div>
</div>
{% endblock %}